{% extends 'base.html.twig' %}

{% block title %}Lieu - Ajout{% endblock %}

{% block body %}
    <div class="container">
        {%  if lieu is defined and lieu.id  %}
            <h1>Modifier un lieu</h1>
        {%  else  %}
            <h1>Ajouter un lieu</h1>
        {% endif %}

        {{ form_start(form) }}

        <div>
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>

        <div>
            {{ form_label(form.rue) }}
            {{ form_widget(form.rue) }}
        </div>

        <div>
            <label class="col-form-label col-sm-2">Ville</label>
            <select class="form-control" name="villes" id="villes">
                <option selected></option>
                {% for ville in villes %}
                    <!-- matches ville.id -->
                    {%  if lieu is defined and lieu.ville.id and lieu.ville.id == ville.id %}
                        <option class="idVille{{ ville.id }}" selected>{{ ville.nom }}</option>
                    {% else %}
                        <option class="idVille{{ ville.id }}">{{ ville.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div>
            {{ form_label(form.latitude) }}
            {{ form_widget(form.latitude) }}
        </div>
        <div>
            {{ form_label(form.longitude) }}
            {{ form_widget(form.longitude) }}
        </div>
        <div class="row" style="justify-content: flex-end; margin: 15px 0">
            <a href="{{ path('lieu') }}" class="btn btn-primary">Annuler</a>
            <button style="margin: 0 10px;" class="btn btn-primary" type="submit">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
