{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/dataTable.css') }}">
{% endblock %}

{% block title %}Hello LieuController!{% endblock %}

{% block body %}
    <div class="container">
        <h2>Liste des lieux
            <a class="btn btn-primary" title="Ajouter un lieu" href="{{ path('lieu_add') }}">
                <span class="fa fa-plus" aria-hidden="true"></span>
            </a>
        </h2>

        <table id="lieuTable" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                <th>Nom</th>
                <th class="d-none d-lg-table-cell">Rue</th>
                <th>Ville</th>
                <th class="d-none d-lg-table-cell">latitude</th>
                <th class="d-none d-lg-table-cell">longitude</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="villesList">
            {% for lieu in lieux %}
                <tr>
                    <td>{{ lieu.nom }}</td>
                    <td class="d-none d-lg-table-cell">{{ lieu.rue }}</td>
                    <td>{{ lieu.ville.nom }}</td>
                    <td class="d-none d-lg-table-cell">{{ lieu.latitude }}</td>
                    <td class="d-none d-lg-table-cell">{{ lieu.longitude }}</td>
                    <td style="width: 20%">
                        <a href="{{ path('lieu_update', {'id' : lieu.id}) }}"
                           class="badge badge-info">Modifier</a>
                        <a href="{{ path('ville_del', {'id' : lieu.id})  }}"
                           class="badge badge-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('/js/dataTable.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#lieuTable').DataTable(
            {
                "language": {
                    "url": "/js/frenchDataTable.json"
                }
            }
        );
    });
</script>

{% endblock javascripts %}