{% extends 'base.html.twig' %}

{% block title %}Nouveau Site{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Nouveau site</h1>


    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary" type="submit" value="Enregistrer">
    <a class="btn btn-primary" href="{{ path('site') }}">Retour</a>
    {{ form_end(form) }}


</div>
{% endblock %}
