{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/dataTable.css') }}">
{% endblock %}

{% block title %}Sites{% endblock %}

{% block body %}

    <div class="container">
        <h2>Liste des sites
            <a class="btn btn-primary" title="Ajouter un site" href="{{ path('site_ajout') }}">
                <span class="fa fa-plus" aria-hidden="true"></span>
            </a>
        </h2>
        {% if error is defined %}
            {% if error != null %}
                <div class="alert alert-danger" role="alert">{{ error | raw }}</div>
            {% endif %}
        {% endif %}
        <table id="lieuTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Site</th>
                <th style="width: 20%">Actions</th>
            </tr>
            </thead>
            <tbody id="sitesList">
            {% if(sites is defined) %}
                {% for site in sites %}
                    <tr>
                        <td style="white-space: inherit;">{{ site.nom}}</td>
                        <td style="width: 20%">
                            <a  class="badge badge-danger" href="{{path('site_delete',{id : site.id}) }}">Supprimer le site</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>


    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/dataTable.js') }}"></script>

    <script>


        $(document).ready(function(){
            $('#lieuTable').DataTable(
                {
                    "language": {
                        "url": "/js/frenchDataTable.json"
                    }
                }
            );
        });

    </script>
{% endblock javascripts %}

