{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1 class="container">Connexion</h1>
    <div class="container">
        <div class="form-group">
            <div class="form-group mb-2">
                <label for="inputMail" class="sr-only">Mail</label>
                <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control" placeholder="Email" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group mb-2">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group mb-2">
                <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                <label for="remember_me">Se souvenir de moi</label>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>
        <a class="btn btn-lg btn-secondary" href="{{ path('app_i_forgot_my_password') }}">Mot de passe oublié</a>
    </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


</form>
{% endblock %}
