{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/dataTable.css') }}">
{% endblock %}

{% block title %}Groupes{% endblock %}

{% block body %}

    <div class="container">
        <h2>Liste des groupes <a class="btn btn-primary" title="Ajouter un groupe"
                                href="{{ path('groupe_add') }}">
                <span class="fa fa-plus" aria-hidden="true"></span></a></h2>

        <table style="margin: 10px 0;"  class="table table-striped table-bordered table-sm clickable" id="groupes">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Proprietaire</th>
                <th style="width: 20%">Actions</th>
            </tr>
            </thead>
            <tbody id="groupesList">
            {% for groupe in groupes %}
                <tr data-url="{{ path('groupe_showOne', {id:groupe.id}) }}">
                    <td style="white-space: inherit;">{{ groupe.nom }}</td>
                    <td>{{ groupe.proprietaireGroupe.pseudo }}</td>
                    <td style="width: 20%">
                        <a href="{{ path('groupe_showOne', {id:groupe.id}) }}"
                           class="badge badge-info">Modifier</a>
                        <a href="{{ path('groupe_delete', {id:groupe.id}) }}"
                           class="badge badge-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/dataTable.js') }}"></script>
<script>
        $(document).ready(function(){
            $('#groupes').DataTable(
        {
                "language": {
                "url": "/js/frenchDataTable.json"
            }
            });
        });
    $('#groupesList tr').on('click', function () {
        window.location.replace($(this).data('url'));
    });
</script>



{% endblock %}
