{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css') }}">
{% endblock %}

{% block title %}Groupe{% endblock %}

{% block body %}

<div class="container center mt-4">
    {{ form_start(form) }}
    {{ form_label(form.nom) }}
    {{ form_widget(form.nom) }}
    {{ form_label(form.participants) }}
    {{ form_widget(form.participants) }}
    <button style="margin: 0 10px;" class="btn btn-primary" type="submit">Valider</button>
    <a href="{{ path('groupe') }}" class="btn btn-primary">Annuler</a>
    {{ form_end(form) }}
</div>
{% endblock %}
