{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/dataTable.css') }}">
{% endblock %}

{% block title %}Accueil!{% endblock %}

{% block body %}

    <div style="position:relative;">

        <div class="container">
            <form name="filtre" class="formFiltre form-group" method="post">
                <h2>Filtrer les sorties</h2>
                <div>
                    <div>
                        <div>
                            <label for="site">Site :</label>
                            <select class="form-control" name="site">
                                <option></option>
                                {% for site in sites %}
                                    <option value="{{ site.id }}"
                                            {% if filtres is defined and filtres.site == site.id %}
                                    selected
                                            {% endif %}>{{ site.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="sortie">Le nom de la sortie contient :</label>
                            <input class="form-control" placeholder="Rechercher" name="sortie"
                                   {% if filtres is defined %}value="{{ filtres.sortie }}"{% endif %}/>
                        </div>
                        <div class="between">
                            <div>
                                <label for="deb">Entre le </label>
                                <input class="form-control dateTimePicker" type="text" name="deb"
                                       placeholder="jj/mm/yyyy"
                                       {% if filtres is defined %}value="{{ filtres.deb }}"{% endif %}/>
                            </div>
                            <div>
                                <label for="fin">et le </label>
                                <input class="form-control dateTimePicker" type="text" name="fin"
                                       placeholder="jj/mm/yyyy"
                                        {% if filtres is defined %}
                                    value="{{ filtres.fin }}"
                                {% else %}
                                    value="{{ "now"|date("d/m/Y") }}"
                                        {% endif %}/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="sortieCheckBoxes">
                            <div>
                                <input class="form-check-input" id="organisateur" type="checkbox" name="organisateur"
                                       {% if filtres is defined and filtres.organisateur == "on" %}checked{% endif %}/>
                                <label class="form-check-label" for="organisateur">Sorties dont je suis
                                    organisateur/trice</label>
                            </div>
                            <div>
                                <input class="form-check-input" id="inscrit" type="checkbox" name="inscrit"
                                       {% if filtres is defined and filtres.inscrit == "on" %}checked{% endif %}/>
                                <label class="form-check-label" for="inscrit">Sorties auxquelles je suis
                                    inscrit/e</label>
                            </div>
                            <div>
                                <input class="form-check-input" id="notInscrit" type="checkbox" name="notInscrit"
                                       {% if filtres is defined and filtres.notInscrit == "on" %}checked{% endif %}/>
                                <label class="form-check-label" for="notInscrit">Sorties auxquelles je ne suis pas
                                    inscrit/e</label>
                            </div>
                            <div>
                                <input class="form-check-input" id="passee" type="checkbox" name="passee"
                                       {% if filtres is defined and filtres.passee == "on" %}checked{% endif %}/>
                                <label class="form-check-label" for="passee">Sorties passées</label>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column">
                        <input type="submit" class="btn btn-primary" value="Rechercher" style="margin-bottom: 10px;"/>
                    </div>
                </div>
            </form>
            {% if(report is defined) %}
                {% if(report == false) %}
                    <div class="alert alert-danger">Erreur de traitement</div>
                {% endif %}
                {% if(report == true) %}
                    <div class="alert alert-success">Traitement accompli</div>
                {% endif %}
            {% endif %}
            <div>
                <table id="sortieTable" class="table table-striped table-bordered table-sm clickable" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th title="Nom de la sortie">Nom de la sortie</th>
                        <th title="Date de la sortie">Date de la sortie</th>
                        <th class="d-none d-lg-table-cell" title="Clôture">Clôture</th>
                        <th class="d-none d-lg-table-cell" title="Inscrits/places">Inscrits/places</th>
                        <th class="d-none d-lg-table-cell" title="État" style="width: 7% !important;">État</th>
                        <th class="d-none d-lg-table-cell" title="Inscrit" style="width: 5%">Inscrit</th>
                        <th class="d-none d-lg-table-cell" title="Organisateur">Organisateur</th>
                        <th class="d-none d-lg-table-cell" title="Groupe">Groupe</th>
                        <th title="Actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody id="sortiesList">
                    {% for sortie in sorties %}
                        <tr data-url="{{ path('sortie_showOne', {id:sortie.id}) }}">
                            <td title="{{ sortie.nom }}">{{ sortie.nom }}</td>
                            <td title="{{ sortie.dateDebut.format('d/m/Y H:i') }}">{{ sortie.dateDebut.format('d/m/Y H:i') }}</td>
                            <td class="d-none d-lg-table-cell" title="{{ sortie.dateCloture.format('d/m/Y H:i') }}">{{ sortie.dateCloture.format('d/m/Y H:i') }}</td>
                            <td class="d-none d-lg-table-cell" title="{{ sortie.inscrits|length }}/{{ sortie.nbInscriptionMax }}">{{ sortie.inscrits|length }}/{{ sortie.nbInscriptionMax }}</td>
                            <td class="d-none d-lg-table-cell" title="{{ sortie.etat.libelle }}" style="width: 7% !important;">{{ sortie.etat.libelle }}</td>
                            {% if sortie.isInscrit(app.user) %}
                                {% for inscrit in sortie.inscrits %}
                                    {% if inscrit.id == app.user.id %}
                                        <td class="d-none d-lg-table-cell">X</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td class="d-none d-lg-table-cell"></td>
                            {% endif %}
                            <td class="d-none d-lg-table-cell" title="{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}">{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</td>
                            <td class="d-none d-lg-table-cell" title="{% if(sortie.groupeOrganisateur != null) %}{{ sortie.groupeOrganisateur.getNom() }}{% endif %}">{% if(sortie.groupeOrganisateur != null) %}{{ sortie.groupeOrganisateur.getNom() }}{% endif %}</td>
                            <td style="width:10%;">
                                {% if  sortie.publie == true and sortie.etat.libelle != 'Annulée' %}
                                    {% if app.user in sortie.inscrits and sortie.organisateur.id != app.user.id and sortie.etat.libelle != 'Activité en cours' and date(sortie.dateCloture) >= date() %}
                                        <a data-idsortie="{{ sortie.id }}"  data-idparticipant="{{ app.user.id }}"
                                           class="badge badge-danger desister" style="color: #FFFFFF">Se désister</a>
                                    {% elseif app.user not in sortie.inscrits|keys and sortie.NbInscriptionMax > sortie.inscrits|length and sortie.etat == 'Ouverte' and app.user.actif == true and date(sortie.dateCloture) > date() and sortie.organisateur.id != app.user.id %}
                                        <a data-idsortie="{{ sortie.id }}"  data-idparticipant="{{ app.user.id }}"
                                           class="badge badge-info inscrire" style="color: #FFFFFF">S'inscrire</a>
                                    {% endif %}
                                    {% if sortie.organisateur.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                        {% if sortie.etat.libelle != 'Annulée' and sortie.etat.libelle != 'Passée' and sortie.etat.libelle != 'Activité en cours' %}
                                            <a style="color: #FFFFFF" data-id="{{ sortie.id }}"
                                               class="badge badge-danger annuler">Annuler</a>
                                        {% endif %}
                                    {% endif %}
                                {% elseif sortie.organisateur.id == app.user.id %}
                                    {% if sortie.etat.libelle == 'Créée' %}
                                        <a style="color: #FFFFFF" data-id="{{ sortie.id }}"
                                           class="badge badge-success publier">Publier</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/dataTable.js') }}"></script>
    <script src="/datetimepicker-master/build/jquery.datetimepicker.full.js"></script>
    <script>
        $(document).ready(function(){
            $('#sortieTable').DataTable(
                {
                    "language": {
                        "url": "/js/frenchDataTable.json"
                    }
                }
            );
        });

        $('#organisateur').on('click', function() {
            $('#inscrit').prop('checked', false);
            $('#notInscrit').prop('checked', false);
        });
        $('#inscrit').on('click', function() {
            $('#organisateur').prop('checked', false);
            $('#notInscrit').prop('checked', false);
        });
        $('#notInscrit').on('click', function() {
            $('#inscrit').prop('checked', false);
            $('#organisateur').prop('checked', false);
        });

        $(function () {
            $('.dateTimePicker').datetimepicker({mask:true,format:"d/m/Y H:i"});
            refreshListeners();

        });
        function refreshListeners() {
            $('#sortiesList tr .annuler').off('click');
            $('#sortiesList tr .annuler').on('click', annuler);
            $('#sortiesList tr .publier').off('click');
            $('#sortiesList tr .publier').on('click', publier);
            $('#sortiesList tr .inscrire').off('click');
            $('#sortiesList tr .inscrire').on('click', inscrire);
            $('#sortiesList tr .desister').off('click');
            $('#sortiesList tr .desister').on('click', desister);
        }
        if ($('#sortiesList').prop('scrollHeight') > $('#sortiesList').prop('clientHeight')) {
            $('#sortiesList').prev().css('width', 'calc(100% - 17px)');
        }
        $('#sortiesList tr td:not(:last-child)').on('click', function () {
            window.location.replace($(this).closest('tr').data('url'));
        });

        function annuler() {
            var id = $(this).data('id');
            var annuler = $(this);
            Swal.fire({
                title: 'Veuillez renseigner un motif',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Confirmer',
                showLoaderOnConfirm: true,
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '{{ path('sortie_annuler') }}',
                        method: "POST",

                        data: {
                            motif: result.value,
                            id: id
                        },
                        success: function (res) {
                            Swal.fire({
                                type: 'success',
                                title: 'Annulation effectuée',
                                showConfirmButton: false,
                                timer: 1000,
                            }).then(function () {
                                $(annuler.closest("tr").children()[4]).html('Annulée');
                                $(annuler).remove();
                                refreshListeners();
                            })
                        },
                        error: function (data) {
                            Swal.fire({
                                type: 'error',
                                title: 'Annulation impossible',
                                showConfirmButton: false,
                                timer: 1000,
                            })
                        }
                    });
                }
            });
        }
        function publier() {
            var id = $(this).data('id');
            var publier = $(this);
            var td = $(publier).closest('td');
            $.ajax({
                url: '{{ path('sortie_publi') }}',
                method: "POST",

                data: {
                    id: id
                },
                success: function (res) {
                    Swal.fire({
                        type: 'success',
                        title: 'Publication effectuée',
                        showConfirmButton: false,
                        timer: 1000,
                    }).then(function () {
                        $(td).prepend('<a data-idsortie="' + id + '" class="badge badge-danger annuler" style="color: #FFFFFF">Annuler</a>');
                        $(publier.closest("tr").children()[4]).html('Ouverte');
                        $(publier).remove();
                        refreshListeners();
                    })
                },
                error: function (data) {
                    Swal.fire({
                        type: 'error',
                        title: 'Publication impossible',
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            });
        }
        function inscrire() {
            var idSortie = $(this).data('idsortie');
            var idParticipant = $(this).data('idparticipant');
            var inscrire = $(this);
            var td = $(inscrire).closest('td');
            var tr = $(inscrire).closest('tr');
            $.ajax({
                url: '{{ path('sortie_add_participant') }}',
                method: "POST",

                data: {
                    idSortie: idSortie,
                    idParticipant: idParticipant
                },
                success: function (res) {
                    Swal.fire({
                        type: 'success',
                        title: 'Inscription effectuée',
                        showConfirmButton: false,
                        timer: 1000,
                    }).then(function () {
                        var inscrits = $($(tr).children()[3]).html();
                        $($(tr).children()[3]).html((parseInt(inscrits.split('/')[0])+1)+'/'+inscrits.split('/')[1]);
                        $($(tr).children()[5]).html('X');
                        $(inscrire).remove();
                        $(td).prepend('<a data-idsortie="' + idSortie + '"  data-idparticipant="' + idParticipant + '" class="badge badge-danger desister" style="color: #FFFFFF">Se désister</a>');
                        refreshListeners();
                    })
                },
                error: function (data) {
                    Swal.fire({
                        type: 'error',
                        title: 'Inscription impossible',
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            });
        }
        function desister() {
            var idSortie = $(this).data('idsortie');
            var idParticipant = $(this).data('idparticipant');
            var desister = $(this);
            var td = $(desister).closest('td');
            var tr = $(desister).closest('tr');
            $.ajax({
                url: '{{ path('sortie_remove_participant') }}',
                method: "POST",

                data: {
                    idSortie: idSortie,
                    idParticipant: idParticipant
                },
                success: function (res) {
                    Swal.fire({
                        type: 'success',
                        title: 'Désistement effectuée',
                        showConfirmButton: false,
                        timer: 1000,
                    }).then(function () {
                        var inscrits = $($(tr).children()[3]).html();
                        $($(tr).children()[3]).html((parseInt(inscrits.split('/')[0])-1)+'/'+inscrits.split('/')[1]);
                        $($(tr).children()[5]).html('');
                        $(desister).remove();
                        $(td).prepend('<a data-idsortie="' + idSortie + '"  data-idparticipant="' + idParticipant + '" class="badge badge-info inscrire" style="color: #FFFFFF">S\'inscrire</a>');
                        refreshListeners();
                    })
                },
                error: function (data) {
                    Swal.fire({
                        type: 'error',
                        title: 'Désistement impossible',
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            });
        }
    </script>
{% endblock %}