{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/js/messageBox.js') }}"></script>
{% endblock %}

{% block title %}Message{% endblock %}

{% block body %}
    <div class="container center mt-4">
        {% if(message is defined) %}
            <div class="alert alert-{%  if type is defined %}{{ type }}{% else %}primary{% endif %} {" role="alert">
                {{message|raw}}
            </div>
        {% endif %}
    </div>
{% endblock %}