{% extends 'base.html.twig' %}

{% block title %}Nouveau participant{% endblock %}

{% block body %}
<div class="container">
    <h1>Nouveau participant</h1>

    <a class="btn btn-light" href="{{ path('participant_list') }}"> < Retour</a>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div style="display: flex; justify-content: flex-end;">
        <input class="btn btn-primary" type="submit">
    </div>
    {{ form_end(form) }}


</div>
{% endblock %}
  {% block javascripts %}
      <script>

          // Assuming you have an input element in your HTML with the class .myInput
          var inputTel = document.querySelector('.input-phone')

          var telMask = vanillaTextMask.maskInput({
              inputElement: inputTel,
              mask: phoneMask,

          });
      </script>
  {% endblock %}
