{% extends 'participant/edit_layout.html.twig' %}

{% block title %}{{ participant.pseudo }}{% endblock %}

{% block formblock %}

                <div class="form-group">
                    {{ form_start(registrationForm) }}
                    <h1 class="text-center mt-2">
                        {{ form_widget(registrationForm.pseudo, { 'attr' : { 'class' : 'form-control bigTopFormField'} } ) }}
                    </h1>

                    <div class="row">
                        {% if participant.photoUrl != null %}

                            <div class="col-lg-4 col-md-12 text-center p-1">
                                <img  class="img-fluid"  src="{{ participant.photoUrl }}" />
                            </div>
                        {% endif %}

                        <table class="table
                {% if participant.photoUrl != null %}
                col-lg-8 col-md-12
                {% else %}
                col-12
                {% endif %}
        ">

                            <tr>
                                <th scope="row">Prénom</th>
                                <td>{{ form_widget(registrationForm.prenom, { 'attr' : { 'class' : 'form-control m-2'} } ) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Nom</th>
                                <td>{{ form_widget(registrationForm.nom, { 'attr' : { 'class' : 'form-control  m-2'} } ) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ form_widget(registrationForm.mail, { 'attr' : { 'class' : 'form-control  m-2'} } ) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Téléphone</th>
                                <td>{{ form_widget(registrationForm.telephone, { 'attr' : { 'class' : 'form-control m-2 input-phone'} } ) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Ville de rattachement</th>
                                <td>{{ form_widget(registrationForm.site, { 'attr' : { 'class' : 'form-control m-2'} } ) }}</td>
                            </tr>
                        </table>
                    </div>
                    <a class="btn btn-primary" href="{{ path('participant_show',{id: participant.id}) }}">Retour</a>
                    <button class="btn btn-primary">Valider</button>
                    {{ form_end(registrationForm) }}
                </div>



{% endblock %}

  {% block javascripts %}
      <script>

          // Assuming you have an input element in your HTML with the class .myInput
          var inputTel = document.querySelector('.input-phone')

          var telMask = vanillaTextMask.maskInput({
              inputElement: inputTel,
              mask: phoneMask,

          });
      </script>
  {% endblock %}
