<div class="list-group">
    <a href="{{ path('participant_edit_mon_pofil') }}" class="list-group-item {% if app.request.attributes.get('_route') == 'participant_edit_mon_pofil' %}active{% endif %}">Informations</a>
    <a href="{{ path('participant_edit_password') }}" class="list-group-item {% if app.request.attributes.get('_route') == 'participant_edit_password' %}active{% endif %}">Mot de passe</a>
    <a href="{{ path('participant_edit_photo') }}" class="list-group-item {% if app.request.attributes.get('_route') == 'participant_edit_photo' %}active{% endif %}">Photo de profil</a>
</div>