{% extends 'base.html.twig' %}

{% block title %}{{ participant.pseudo }}{% endblock %}

{% block body %}

    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-12">
                {% include 'participant/edit_menu.html.twig' %}
            </div>
            <div class="col-lg-8 col-sm-12 col-md-12">

                {% block formblock %}{% endblock%}
                </div>
        </div>
    </div>

    {% if(errors is defined) %}
        <div class="container m-4 mx-auto">
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{error | raw}}
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
