{% extends 'participant/edit_layout.html.twig' %}


{% block formblock %}

                <div class="form-group">
                    <h1 class="text-center mt-2">
                        Modifier le mot de passe
                    </h1>
                    {% if error is defined %}
                        {% if error != null %}
                        <div class="alert alert-danger" role="alert">{{ error | raw }}</div>
                        {% endif %}
                    {% endif %}
                    {{ form_start(passwordForm) }}
                    <div class="row">
                        <table class="table col-12">

                            <tr>
                                <th scope="row">Nouveau mot de passe</th>
                                <td>{{ form_widget(passwordForm.plainPassword1, { 'attr' : { 'class' : 'form-control m-2'} } ) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">confirmation du nouveau mot de passe</th>
                                <td>{{ form_widget(passwordForm.plainPassword2, { 'attr' : { 'class' : 'form-control  m-2'} } ) }}</td>
                            </tr>
                        </table>
                    </div>
                    <button class="btn btn-primary">Modifier</button>
                    {{ form_end(passwordForm) }}
                </div>

{% endblock %}


        {% block javascripts %}

        {% endblock %}