{% extends 'participant/edit_layout.html.twig' %}


{% block formblock %}

    <h2>Photo de profil</h2>
    <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-12">
            <img src="{{ app.user.photoUrl }}"  class="img-fluid"/>
        </div>
        <div class="col-lg-8 col-sm-12 col-md-12">

            <div id="drag-drop-area"></div>
        </div>
    </div>

{% endblock %}


        {% block javascripts %}


            <script src="https://transloadit.edgly.net/releases/uppy/v1.4.0/uppy.min.js"></script>
            <script>
                var uppy = Uppy.Core({
                    restrictions: {
                        maxFileSize: 1000000,
                        maxNumberOfFiles: 1,
                        minNumberOfFiles: 1,
                        allowedFileTypes: ['image/*']
                    }
                });
                var Dashboard = Uppy.Dashboard;
                uppy.use(Uppy.Dashboard, {
                    inline: true,
                    target: '#drag-drop-area'
                });
                // uppy.use(Uppy.GoogleDrive, { target: Dashboard, companionUrl: 'https://companion.uppy.io' });
                // uppy.use(Uppy.Dropbox, { target: Dashboard, companionUrl: 'https://companion.uppy.io' });
                // uppy.use(Uppy.Instagram, { target: Dashboard, companionUrl: 'https://companion.uppy.io' });
                // uppy.use(Uppy.Url, { target: Dashboard, companionUrl: 'https://companion.uppy.io' });
                uppy.use(Uppy.Webcam, { target: Dashboard });
                uppy.use(Uppy.XHRUpload, {
                    endpoint: '{{path('participant_upload_photo')}}'
                });
                uppy.on('complete', (result) => {
                    console.log('Upload complete! We’ve uploaded these files:', result.successful)
                    document.location.reload();
                });
                {#uppy.use(Uppy.Tus, { endpoint: '{{path('participant_upload_photo')}}' });#}
            </script>
        {% endblock %}