{% extends 'base.html.twig' %}

{% block title %}Import participants{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Import participants</h1>

    <a class="btn btn-primary" href="{{ path('participant_list') }}">Retour</a>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Pseudo</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Admin</th>
            <th>Actif</th>
            <th>Site</th>
            <th>Photo</th>
            <th></th>
        </tr>
        {% for p in valid %}
        <tr>
            <td>{{ p.nom }}</td>
            <td>{{ p.prenom }}</td>
            <td>{{ p.pseudo }}</td>
            <td>{{ p.mail }}</td>
            <td>{{ p.telephone }}</td>
            <td>{{ p.admin ? 'Oui':'Non' }}</td>
            <td>{{ p.actif ? 'Oui' :'Non' }}</td>
            <td>{{ p.site.nom }}</td>
            <td>{{ p.photoUrl }}</td>
            <td><span class="badge badge-pill badge-primary">Valide</span></td>
        </tr>
        {% endfor %}
        {% for p in invalid %}
            <tr>
                <td>{{ p.nom }}</td>
                <td>{{ p.prenom }}</td>
                <td>{{ p.pseudo }}</td>
                <td>{{ p.mail }}</td>
                <td>{{ p.telephone }}</td>
                <td>{{ p.admin ? 'Oui':'Non' }}</td>
                <td>{{ p.actif ? 'Oui' :'Non' }}</td>
                <td>{{ p.site.nom }}</td>
                <td>{{ p.photoUrl }}</td>
                <td>
                    <span class="badge badge-pill badge-danger">Invalide</span></td>
            </tr>
        {% endfor %}
    </table>
    <form method="post" action="{{ path('participant_import_validate') }}">
        <input type="hidden" name="users" value="{{ users }}">
        <input type="submit" value="Valider" class="btn-primary btn">
    </form>
</div>
{% endblock %}
