{% extends 'base.html.twig' %}

{% block title %}Import participants{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Import participants</h1>

    <a class="btn btn-light" href="{{ path('participant_list') }}"> < Retour</a>
    <hr>
    <div class="alert alert-primary" role="alert">
        Veuillez selectionner un fichier CSV ou JSON
    </div>
    {{ form_start(form) }}
        <div style="display: flex; flex-direction: row">
            {{ form_label(form.fichier) }}
            {{ form_widget(form.fichier) }}
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
            {{ form_widget(form.valider) }}
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
