{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/dataTable.css') }}">
{% endblock %}

{% block title %}Liste des participants!{% endblock %}

{% block body %}
    <style>

        .table tr td:not(.smol), .table tr th:not(.smol) {
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 0;
            font-size: 10pt;
            width: calc(100% / 5);
        }

        .smol {
            text-align: center;
            font-size: 10pt;
        }
    </style>
    <div class="container">
        <h1>Liste des participants</h1>
        <div class="mb-2">

            <a class="btn btn-primary" href="{{ path('participant_create') }}">Ajouter un participant</a>
            <a class="btn btn-primary" href="{{ path('participant_import') }}">Importer des participants</a>
        </div>
        <table id="participantTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="d-none d-lg-table-cell">#</th>
                <th class="d-none d-lg-table-cell">Nom</th>
                <th class="d-none d-lg-table-cell">Prenom</th>
                <th>Pseudo</th>
                <th class="d-none d-lg-table-cell">Email</th>
                <th class="smol">Actif</th>
                <th class="smol">Admin</th>
                <th class="smol"></th>
                <th class="smol"></th>
                <th class="smol"></th>
            </tr>
            </thead>
            <tbody>
            {% for p in participants %}
                <tr>
                    <td class="d-none d-lg-table-cell">{{ p.id }}</td>
                    <td class="d-none d-lg-table-cell">{{ p.nom }}</td>
                    <td class="d-none d-lg-table-cell">{{ p.prenom }}</td>
                    <td>{{ p.pseudo }}</td>
                    <td class="d-none d-lg-table-cell">{{ p.mail }}</td>
                    <td class="smol">
                        <label class="switch">
                            <input class="switch-actif" data-url="{{ path('participant_update_actif',{id:p.id}) }}" type="checkbox" {{ p.actif ? 'checked' : ''}}>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td class="smol">
                        <label class="switch">
                            <input class="switch-admin" data-url="{{ path('participant_update_admin',{id:p.id})}}" type="checkbox" {{ p.admin ? 'checked' : ''}}>
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td class="smol">

                        <a data-url="{{ path('participant_delete',{id:p.id}) }}" href="#" class="badge badge-danger delete-participant"><i class="fas fa-trash-alt"></i></a>

                    </td>
                    <td class="smol"> <a href="{{ path('participant_show',{id:p.id}) }}" class="badge badge-primary"><i class="fas fa-search"></i></a>
                    <td class="smol"> <a href="{{ path('participant_edit',{id:p.id}) }}" class="badge badge-primary"><i class="fas fa-edit"></i></a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}


{% block javascripts %}
<script src="{{ asset('/js/dataTable.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#participantTable').DataTable(
            {
                    "language": {
                        "url": "/js/frenchDataTable.json"
                    }
                });
        });

        $('.switch-actif').on('change',function () {
            var url = $(this).data('url');
            var checked = $(this).is(':checked');
            var switchElem = $(this);
            $.ajax({
                url:url,
                method:"POST",

                data:{
                    actif:checked
                },
                success:function(res) {
                    switchElem.prop('checked',res.actif);
                    Swal.fire({
                        type: 'success',
                        title: '',
                        showConfirmButton: false,
                        timer: 600,
                        backdrop: `
    rgba(0,0,123,0.4)
    url(" https://sweetalert2.github.io//images/nyan-cat.gif")
    center left
    no-repeat
  `
                    })
                },
                error:function(data) {
                    alert("Error");
                },
            });



        });
        $('.switch-admin').on('change',function () {
            var url = $(this).data('url');
            var checked = $(this).is(':checked');
            var switchElem = $(this);
            $.ajax({
                url:url,
                method:"POST",

                data:{
                    admin:checked
                },
                success:function(res) {
                    switchElem.prop('checked',res.admin);
                    Swal.fire({
                        type: 'success',
                        title: '',
                        showConfirmButton: false,
                        timer: 600,
                        backdrop: `
    rgba(0,0,123,0.4)
    url(" https://sweetalert2.github.io//images/nyan-cat.gif")
    center left
    no-repeat
  `
                    })

                },
                error:function(data) {
                    alert("Error");
                },
            });


        });

        $('.delete-participant').on('click',function () {
            var url = $(this).data('url');
            Swal.fire({
                title: 'Voulez vous le supprimer?',
                text: "",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui !',
                cancelButtonText:"Non",
                backdrop: `
    rgba(0,0,123,0.4)
    url(" https://sweetalert2.github.io//images/nyan-cat.gif")
    center left
    no-repeat
  `
            }).then((result) => {
                if (result.value) {
                    window.location = url;
                }
            })
        });
    </script>
{% endblock %}