{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="container">Récupération du compte</h1>
    {{form_start(form.mail) }}
    <div class="container">
        {% if error is defined %}
            {% if error != null %}
                <div class="alert alert-danger" role="alert">{{ error | raw }}</div>
            {% endif %}
        {% endif %}
        <h4 class="text-secondary">Entrez l'adresse Email du participant</h4>
        <div class="form-group">
            <div class="form-group mb-2">
                {{ form_widget(form.mail, { 'attr' : { 'class' : 'form-control'} } ) }}
            </div>
        </div>
        {{ form_row(form._token) }}
        <button class="btn btn-lg btn-primary" type="submit" value="Enregistrer" id="Enregistrer">Au secours</button>
            <!doctype html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport"
                      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Document</title>
            </head>
            <body>
            
            </body>
            </html>
        </button>
    </div>
    {{ form_end(form.mail) }}
{% endblock %}
