{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
    <div class="container">
        <h1>Inscription</h1>
    </div>
    {{ form_start(registrationForm) }}
    <div class="container">
        <div class="form-group">
            <div class="form-group mb-2">
                {{ form_label(registrationForm.mail) }}
                {{ form_widget(registrationForm.mail, { 'attr' : { 'class' : 'form-control'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group mb-2">
                {{ form_label(registrationForm.nom) }}
                {{ form_widget(registrationForm.nom, { 'attr' : { 'class' : 'form-control'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group mb-2">
                {{ form_label(registrationForm.prenom) }}
                {{ form_widget(registrationForm.prenom, { 'attr' : { 'class' : 'form-control'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group mb-2">
                {{ form_label(registrationForm.pseudo) }}
                {{ form_widget(registrationForm.pseudo, { 'attr' : { 'class' : 'form-control'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group mb-2">
                {{ form_label(registrationForm.site) }}
                {{ form_widget(registrationForm.site, { 'attr' : { 'class' : 'form-control'} } ) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group mb-2">
                {{ form_label(registrationForm.telephone) }}
                {{ form_widget(registrationForm.telephone) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group mb-2">
                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword, { 'attr' : { 'class' : 'form-control'} } ) }}
            </div>
        </div>
        <div class="form-group ">
                {{ form_label(registrationForm.agreeTerms) }}
                {{ form_widget(registrationForm.agreeTerms, { 'attr' : { 'class' : ''} } ) }}
        </div>
        <button class="btn btn-primary">S'inscrire</button>
    </div>
    {{ form_end(registrationForm) }}
    {% if errors is defined %}
        {{errors | raw}}
    {% endif %}

{% endblock %}
  {% block javascripts %}
      <script>

          // Assuming you have an input element in your HTML with the class .myInput
          var inputTel = document.querySelector('.input-phone')

          var telMask = vanillaTextMask.maskInput({
              inputElement: inputTel,
              mask: phoneMask,

          });
      </script>
  {% endblock %}
