{% extends 'base.html.twig' %}

{% block title %}{{ participant.pseudo }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">
        {{ participant.pseudo }}
        {% if(isOwner != false) %}
            (votre profil)
        {% endif %}
    </h1>

    <div class="row">
        {% if participant.photoUrl != null %}

            <div class="col-lg-4 col-md-12 text-center p-1">
                <img  class="img-fluid"  src="{{ participant.photoUrl }}" />
            </div>
        {% endif %}

        <table class="table
        {% if participant.photoUrl != null %}
        col-lg-8 col-md-12
        {% else %}
        col-12
        {% endif %}
">

            <tr>
                <th scope="row">Prénom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th scope="row">Nom</th>
                <td>{{participant.nom}}</td>
            </tr>
            <tr>
                <th scope="row">Téléphone</th>
                <td>{{participant.telephone}}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{participant.mail}}</td>
            </tr>
            <tr>
                <th scope="row">Ville de rattachement</th>
                <td>{{participant.site.nom}}</td>
            </tr>

        </table>
    </div>
    <div style="display: flex; justify-content: flex-end;">
        <a class="btn btn-primary" style="margin: 0 10px" href="{{ path('participant_list') }}">Retour</a>
        {% if(isOwner != false) %}
            <a class="btn btn-primary" href="{{ path('participant_edit_mon_pofil') }}">Editer</a>
        {% elseif is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('participant_edit',{id:participant.id}) }}">Editer</a>
        {% endif %}
    </div>
</div>
{% endblock %}
