.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e1e1e1;
}
.header div {
    margin: 0 15px;
}
.header a, .header h1 {
    padding: 15px;
}
.header h1 a {
    color: #000000;
}
a:hover {
    text-decoration: none;
}

/**
Entête couleur barre
 */
nav.bg-projetbleu {
    background-color: rgb(57, 81, 204);
}

nav.bg-projetbleu > div > ul > li > a{
    color: white !important;
}
.sticky-top {
    position: sticky !important;
}
.navbar ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/*
edit Participant, champ pseudo du haut plus gros
 */
.bigTopFormField {
    font-size:32px;
    text-align:center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}