.annuler, .publier, .inscrire, .desister {
    cursor: pointer;
}

.form-check-input {
    position: relative !important;
}

.formFiltre h2, .formFiltre > div {
    margin: 0 15px;
}

.formFiltre > div > div:first-child > div:last-child {
    margin-top: 12px;
}

.formFiltre > div > div:first-child > div:last-child div {
    display: flex;
    align-items: center;
}

.formFiltre > div div:first-child div:last-child div label {
    width: 30%;
    margin: 0 10px;
}

.formFiltre > div div:first-child div:last-child div:first-child label {
    margin: 0 10px 0 0;
}

select {
    width: 200px;
}

#sortieTable thead th:not(:last-child), #sortieTable thead th:not(:nth-child(6)) {
    border-bottom-width: 0px !important;
    width: calc(80% / 7) !important;
    text-align: center;
}
#sortieTable thead th:nth-child(6) {
    border-bottom-width: 0px !important;
    width: 5% !important;
    text-align: center;
}
#sortieTable thead th:last-child {
    border-bottom-width: 0px !important;
    width: 15% !important;
    text-align: center;
}

.table tr td:not(:last-child), .table tr th {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
    font-size: 10pt;
}

.table tr td:last-child {
    text-align: center;
    font-size: 10pt;
}

#sortieTable tbody tr:hover td {
    background: rgba(57, 81, 204, .1);
    cursor: pointer;
}

.sortieCheckBoxes {
    margin-left:80px;
}






/*
response design
 */




@media only screen and (min-width: 900px) {
    .homeInfos {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
        position: absolute;
        right: 0px;
    }

    .formFiltre > div {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .formFiltre > div > div:first-child > div:last-child{
        display: flex;
        align-items: center;
    }

}

