body {
    margin-bottom: 20px;
}
form > div {
    display: flex;
    align-items: center;
}
.left, .right {
    width: 50%;
    padding: 8px;
}
label, legend {
    max-width: 100% !important;
    padding-left: 0 !important;
}
.col-sm-2 {
    width: 100% !important;
}
textarea {
    height: 130px !important;
}
select {
    margin: 0 5px;
}

.between {
    display: flex;
    align-items: center
}

.tabInscrits {
    width: 100%;
}

.tabInscrits tr th {
    height: 24px;
    font-size: 10pt;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    background: whitesmoke;
    max-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tabInscrits tr td {
    height: 24px;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
}

.tabInscrits td:first-child, .tabInscrits th:first-child {
    border-left: 1px solid #e1e1e1;;
}

.tabInscrits tbody, .tabInscrits thead {
    display: block;
}

.tabInscrits tbody tr, .tabInscrits thead tr {
    display: table;
    width: -webkit-fill-available;
    width: -moz-available;
}

.tabInscrits tbody {
    overflow: auto;
    height: 150px;
    font-size: 10pt;
}

.tabInscrits tbody tr:nth-child(even) {
    background: #FAFAFA;
}

.tabInscrits tbody tr:hover td {
    background: rgba(57, 81, 204, .1);
    cursor: pointer;
}



