{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/sortie.css') }}">
{% endblock %}

{% block title %}
    {% if type == 'create' %}
        Nouvelle sortie !
    {% elseif type == 'update' and sortie is defined %}
        Sortie {{ sortie.nom }}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">
        {% if type == 'create' %}
            <h2>Créer une sortie</h2>
        {% endif %}

        {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-md-6 align-self-start">
                <div class="form-group">
                    {{ form_label(form.nom) }}
                    {% if sortie is not defined or sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                        {{ form_widget(form.nom) }}
                    {% else %}
                        {{ form_widget(form.nom, {'disabled': 'true'}) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.date_debut) }}
                    {% if sortie is not defined or sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                        {{ form_widget(form.date_debut) }}
                    {% else %}
                        {{ form_widget(form.date_debut, {'disabled': 'true'}) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.date_cloture) }}
                    {% if sortie is not defined or sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                        {{ form_widget(form.date_cloture) }}
                    {% else %}
                        {{ form_widget(form.date_cloture, {'disabled': 'true'}) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.nb_inscription_max) }}
                    {% if sortie is not defined or sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                        {{ form_widget(form.nb_inscription_max) }}
                    {% else %}
                        {{ form_widget(form.nb_inscription_max, {'disabled': 'true'}) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.duree) }}
                    {% if sortie is not defined or sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                        {{ form_widget(form.duree) }}
                    {% else %}
                        {{ form_widget(form.duree, {'disabled': 'true'}) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {% if sortie is not defined or sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                        {{ form_widget(form.description) }}
                    {% else %}
                        {{ form_widget(form.description, {'disabled': 'true'}) }}
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    {{ form_label(form.villeOrga) }}
                    {{ form_widget(form.villeOrga, {'value' : site}) }}
                </div>
                <div class="form-group">
                    <label for="villes" class="col-form-label col-sm-2">Ville</label>
                    {% if sortie is not defined or sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                    <select class="form-control" name="villes" id="villes" required>
                        {% else %}
                        <select class="form-control" name="villes" id="villes" disabled>
                            {% endif %}
                            <option selected></option>
                            {% for ville in villes %}
                                {% if type == 'update' and sortie.lieu.ville.id == ville.id %}
                                    <option class="idVille{{ ville.id }}" selected>{{ ville.nom }}</option>
                                {% else %}
                                    <option class="idVille{{ ville.id }}">{{ ville.nom }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                </div>
                <div class="row align-items-end">

                    <div class="form-group col-10">
                        <label for="lieux" class="col-form-label col-sm-2">Lieu</label>
                        {% if sortie is not defined or sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                        <select class="form-control" name="lieux" id="lieux" required>
                            {% else %}
                            <select class="form-control" name="lieux" id="lieux" disabled>
                                {% endif %}
                                <option selected></option>
                                {% for lieu in lieux %}
                                    {% if type == 'create' %}
                                        <option data-url="{{ path('sortie_lieu',{idLieu:lieu.id}) }}"
                                                class="idVille{{ lieu.ville.id }}" disabled>{{ lieu.nom }}</option>
                                    {% elseif type == 'update' %}
                                        {% if sortie.lieu.id == lieu.id %}
                                            <option data-url="{{ path('sortie_lieu',{idLieu:lieu.id}) }}"
                                                    class="idVille{{ lieu.ville.id }}"
                                                    selected>{{ lieu.nom }}</option>
                                        {% elseif sortie.lieu.id != lieu.id %}
                                            <option data-url="{{ path('sortie_lieu',{idLieu:lieu.id}) }}"
                                                    class="idVille{{ lieu.ville.id }}"
                                                    disabled>{{ lieu.nom }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                    </div>

                    <div class="form-group col-2">
                        <button id="btnAddLieuModal" type="button" title="Ajouter un lieu" class="btn btn-primary" data-toggle="modal"
                                data-target="#addLieuModal" data-whatever="@getbootstrap"
                                {% if type != 'create' and (sortie is not defined or sortie.organisateur.id != app.user.id or sortie.etat.id >  1) %}
                        disabled
                                {% endif %}>
                            <span class="fa fa-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.rue) }}
                    {{ form_widget(form.rue) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.latitude) }}
                    {{ form_widget(form.latitude) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.longitude) }}
                    {{ form_widget(form.longitude) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.groupeOrganisateur) }}
                    {% if sortie is not defined or sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                        {{ form_widget(form.groupeOrganisateur) }}
                    {% else %}
                        {{ form_widget(form.groupeOrganisateur, {'disabled': 'true'}) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" style="position:relative;">

            <div class="col-12 col-md-6">
                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom / Prénom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if sortie is defined %}
                        {% for inscrit in sortie.inscrits %}
                            <tr>
                                <td>{{ inscrit.pseudo }}</td>
                                <td>{{ inscrit.nom }} {{ inscrit.prenom }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <!--
<div style="width: 50%">
            <div style="width: 50%;display: flex;justify-content: flex-end;position: absolute;top: 0;right: 0;">
            -->
            <div class="col-12 col-md-6" style="text-align: right">
                <a  href="{{ path('home') }}" class="btn btn-primary">Annuler</a> <!--style="margin: 0 10px;" -->
                {% if sortie is not defined or sortie.organisateur.id == app.user.id and sortie.etat.id == 1 %}
                    <input style="margin: 0 10px;" type="submit" value="Enregistrer" class="btn btn-primary"/>
                {% endif %}
            </div>
        </div>
        {{ form_end(form) }}
    </div>






    <div class="modal fade" id="addLieuModal" tabindex="-1" role="dialog" aria-labelledby="addLieuModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLieuModalLabel">Créer un nouveau lieu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="col-form-label col-sm-2" for="LibNomLieu">Nom du nouveau lieu</label>
                        <input type="text" class="form-control" id="LibNomLieu">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" onclick="createNewLieu()">Valider</button>
                </div>
            </div>
        </div>
    </div>






{% endblock %}

{% block javascripts %}
    <script>
        /**
         * Disable ou non les lieux correspondant à la ville sélectionnée
         */
        $('#villes').on('change', function () {
            $('#lieux option:not(:first-child)').prop('disabled', true);
            $('#lieux option:first-child').prop('selected', true)
            emptyLieu();
            if ($(this).children(":selected")[0].value !== '') {
                $("#lieux ." + $(this).children(":selected").attr('class')).prop('disabled', false);
                $('#lieux').prop('disabled', false);
                $('#btnAddLieuModal').prop('disabled', false);
            } else {
                $('#lieux').prop('disabled', true);
                $('#btnAddLieuModal').prop('disabled', true);
            }
            /*if (!$('#villes').value) {
                $('#lieux').prop('disabled', false);
            } else {
                $('#lieux').prop('disabled', true);
            }*/
        });
        $('#sortie_date_debut').on('change', function () {
            var deb = $(this).val().split('/');
            var clo = $('#sortie_date_cloture').val().split('/');
            deb = new Date(deb[1]+'/'+deb[0]+'/'+deb[2]);
            clo = new Date(clo[1]+'/'+clo[0]+'/'+clo[2]);
            if (clo.toString() !== 'Invalid Date' && deb.toString() !== 'Invalid Date' && clo > deb) {
                $('#sortie_date_cloture').val($(this).val());
            }
        });
        $('#sortie_date_cloture').on('change', function () {
            var clo = $(this).val().split('/');
            var deb = $('#sortie_date_debut').val().split('/');
            deb = new Date(deb[1]+'/'+deb[0]+'/'+deb[2]);
            clo = new Date(clo[1]+'/'+clo[0]+'/'+clo[2]);
            if (clo.toString() !== 'Invalid Date' && deb.toString() !== 'Invalid Date' && clo > deb) {
                $(this).val($('#sortie_date_debut').val());
            }
        });
        /**
         * Renseigne les champs d'infos disabled lors de la sélection d'un lieu
         */
        $('#lieux').on('change', function () {
            // On cherche à savoir si c'est un lieu ajouté donc sans route
            if ($(this).children(":selected").data('url')) {
                if ($(this).children(":selected")[0] !== $(this)[0].options[0]) {
                    var url = $(this).children(":selected").data('url');
                    $.ajax({
                        url: url,
                        method: 'post',
                        success: function (res) {
                            $('#sortie_rue').val(res.lieu.rue);
                            $('#sortie_codePostal').val(res.lieu.code_postal);
                            $('#sortie_latitude').val(res.lieu.latitude);
                            $('#sortie_longitude').val(res.lieu.longitude);
                            disableLieu();
                        },
                        error: function (data) {
                            Swal.fire({
                                type: 'error',
                                title: '',
                                showConfirmButton: false,
                                timer: 600
                            })
                        }
                    });
                } else {
                    emptyLieu();
                }
            } else {
                emptyLieu();
                enableLieu();
            }
        });

        function createNewLieu() {
            if ($('#LibNomLieu')[0].value && $('#LibNomLieu')[0].value !== '') {
                var x = document.getElementById("lieux");
                var option = document.createElement("option");
                option.text = $('#LibNomLieu')[0].value;
                x.add(option);

                x[x.length - 1].selected = 'selected';
                emptyLieu();
                enableLieu();
            } else {
                disableLieu();
            }

            $('#addLieuModal').modal('hide');
        }

        function disableLieu() {
            $('#sortie_rue').prop('disabled', true);
            $('#sortie_codePostal').prop('disabled', true);
            $('#sortie_latitude').prop('disabled', true);
            $('#sortie_longitude').prop('disabled', true);
        }

        function enableLieu() {
            $('#sortie_rue').prop('disabled', false);
            $('#sortie_codePostal').prop('disabled', false);
            $('#sortie_latitude').prop('disabled', false);
            $('#sortie_longitude').prop('disabled', false);
        }

        function emptyLieu() {
            $('#sortie_rue').val('');
            $('#sortie_codePostal').val('');
            $('#sortie_latitude').val('');
            $('#sortie_longitude').val('');
        }
    </script>
{% endblock %}