{% extends 'base.html.twig' %}

{% block title %}Hello Add Ville!{% endblock %}

{% block body %}
    {%  if ville is defined and ville.id  %}
        <h1>Modifier une ville</h1>
    {%  else  %}
        <h1>Ajouter une ville</h1>
    {% endif %}
    <div class="container">
        {{ form_start(villeForm) }}
        {{ form_widget(villeForm) }}
        <a href="{{ path('ville') }}" class="btn btn-primary">Annuler</a>
        <button style="margin: 0 10px;" class="btn btn-primary" type="submit">Valider</button>
        {{ form_end(villeForm) }}
    </div>

{% endblock %}
