{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/dataTable.css') }}">
{% endblock %}

{% block title %}Ville{% endblock %}

{% block body %}
    <style>

        .table tr td:not(:last-child), .table tr th:not(:last-child) {
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 0;
            font-size: 10pt;
            width: calc(100% / 5);
        }

        .table tr td:last-child {
            text-align: center;
            font-size: 10pt;
        }
    </style>
    <div class="container">
        <h2>Liste des villes
            <a class="btn btn-primary" title="Ajouter une ville" href="{{ path('ville_add') }}">
                <span class="fa fa-plus" aria-hidden="true"></span>
            </a>
        </h2>

        <table id="villeTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="villesList">
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td style="width: 20%">
                        <a href="{{ path('ville_update', {'id' : ville.id}) }}"
                           class="badge badge-info">Modifier</a>
                        <a href="{{ path('ville_del', {'id' : ville.id})  }}"
                           class="badge badge-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('/js/dataTable.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#villeTable').DataTable(
                {
                    "language": {
                        "url": "/js/frenchDataTable.json"
                    }
                }
            );
        });
    </script>
{% endblock javascripts %}


