<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}sortir.com{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ asset('/bootstrap-4.3.1-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.css') }}">
        <link rel="stylesheet" href="/datetimepicker-master/build/jquery.datetimepicker.min.css" />
        <link rel="stylesheet" href="{{ asset('/css/base.css') }}">
        <link href="https://transloadit.edgly.net/releases/uppy/v1.4.0/uppy.min.css" rel="stylesheet">
        <link href="{{ asset('/fontawesome-free-5.11.2-web/css/all.min.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        <script src="{{ asset('/js/jquery-3.4.1.min.js')  }}"></script>
        <script src="{{ asset('/bootstrap-4.3.1-dist/js/bootstrap.min.js')  }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="{{ asset('/textmask/vanillaTextMask.js') }}"></script>
        <script>
            var phoneMask = [
                /\d/,
                /\d/,
                ' ',
                /\d/,
                /\d/,
                ' ',
                /\d/,
                /\d/,
                ' ',
                /\d/,
                /\d/,
                ' ',
                /\d/,
                /\d/
            ];



        </script>

        <script src="/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script>

        <script src="/datetimepicker-master/build/jquery.datetimepicker.full.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


    <script>
        $(function () {
            $('.dateTimePicker').datetimepicker({mask:true,format:"d/m/Y H:i"});

        });
    </script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
