{% block body %}
<div class="container ">
    <h3>Le formulaire a rencontré un problème de validation</h3>
    <ul>
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                <li>{{ error }}</li>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
