{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-projetbleu sticky-top">
        <a class="navbar-brand" href="{{ path('home') }}"><img style="width: 75px;" src="{{ asset('img/sortir-logo.png') }}" /><span style="vertical-align: bottom;">ortie.com</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('add_sortie') }}">Créer une sortie</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('groupe') }}">Groupes</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('participant_list') }}">Participants</a>
                            <a class="dropdown-item" href="{{ path('site') }}">Sites</a>
                            <a class="dropdown-item" href="{{ path('ville') }}">Ville</a>
                            <a class="dropdown-item" href="{{ path('lieu') }}">Lieux</a>
                        </div>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li><a class="nav-link" style="background: rgba(255, 255, 255, .1); border-radius: 5px;" href="{{ path('participant_show', {id: app.user.id}) }}">{{ app.user.pseudo }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>

                {% endif %}

            </ul>
        </div>
    </nav>

{% endblock %}
