{% block body %}
    Bonjour {{ participant.nom }} {{ participant.prenom }},
    <br>
    <br>
    Vous avez demandé la modification de votre mot de passe. Merci de suivre le lien si dessous pour continuer votre démarche. Dans le cas contraire, ignorez ce message.
    <br>
    <br>
    <a href="http://sortir/regeneratePassword/{{ hash.hash }}">Formulaire de génération de sortir.com</a>
    <br>
    <br>
    Equipe bleu.

{% endblock %}