{% block body %}
    Bonjour {{ participant.nom }} {{ participant.prenom }},
    <br>
    <br>
    Votre sortie {{ sortie.nom }} a été annulée par l'équipe administrative.
    <br>
    <br>
    Motif :
    <br>
    "{{ sortie.motif }}"
    <br>
    Il est impossible de réactiver une sortie annulée.
    <br>
    <br>
    Equipe bleu.

{% endblock %}